<!-- <table>
    <tbody>
        <tr *ngFor="let hour of selectedHourlyWeather">
           <td>{{hour.day}} {{hour.hour}}</td>
           <td><fa-icon [icon]="toIcon(hour.iconCode)"></fa-icon></td> 
           <td>Temp {{hour.temp}} &#8451;</td>
           <td>Ressentie {{hour.flTemp}} &#8451;</td>
           <td>Vent {{hour.windSpeed}} km/h</td>
           <td>Precip {{hour.precipitation}} mm</td>
        </tr>
    </tbody>
</table> -->

<table>
    <tbody>
        <tr>
           <td><div>samedi</div> <div>0 h</div></td>
           <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
           <td><div>Temp </div> <div>2 &#8451;</div> </td>
           <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
           <td><div>Vent</div> <div>8 km/h</div> </td>
           <td> <div>Precip</div> <div>0 mm</div> </td>
        </tr>
        <tr>
            <td><div>samedi</div> <div>0 h</div></td>
            <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
            <td><div>Temp </div> <div>2 &#8451;</div> </td>
            <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
            <td><div>Vent</div> <div>8 km/h</div> </td>
            <td> <div>Precip</div> <div>0 mm</div> </td>
         </tr>
         <tr>
            <td><div>samedi</div> <div>0 h</div></td>
            <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
            <td><div>Temp </div> <div>2 &#8451;</div> </td>
            <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
            <td><div>Vent</div> <div>8 km/h</div> </td>
            <td> <div>Precip</div> <div>0 mm</div> </td>
         </tr>
         <tr>
            <td><div>samedi</div> <div>0 h</div></td>
            <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
            <td><div>Temp </div> <div>2 &#8451;</div> </td>
            <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
            <td><div>Vent</div> <div>8 km/h</div> </td>
            <td> <div>Precip</div> <div>0 mm</div> </td>
         </tr>
         <tr>
            <td><div>samedi</div> <div>0 h</div></td>
            <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
            <td><div>Temp </div> <div>2 &#8451;</div> </td>
            <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
            <td><div>Vent</div> <div>8 km/h</div> </td>
            <td> <div>Precip</div> <div>0 mm</div> </td>
         </tr>
    </tbody>
</table>
