<table>
    <tbody>
      <ng-container *ngFor="let hour of selectedHourlyWeather">
        <tr >
           <td><div>{{hour.day}}</div> <div>{{hour.hour}}</div></td>
           <td><fa-icon [icon]="toIcon(hour.iconCode)"></fa-icon></td> 
           <td><div>Temp</div> <div>{{hour.temp}} &#8451;</div> </td>
           <td><div>Ressentie</div> <div>{{hour.flTemp}} &#8451;</div> </td>
           <td><div>Vent</div> <div>{{hour.windSpeed}} km/h</div> </td>
           <td><div>Precip</div> <div>{{hour.precipitation}} mm</div> </td>
        </tr>
      </ng-container>
    </tbody>
</table>
<!-- 
<table>
    <tbody>
        <tr>
           <td><div>samedi</div> <div>0 h</div></td>
           <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
           <td><div>Temp </div> <div>2 &#8451;</div> </td>
           <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
           <td><div>Vent</div> <div>8 km/h</div> </td>
           <td> <div>Precip</div> <div>0 mm</div> </td>
        </tr>
        <tr>
            <td><div>samedi</div> <div>0 h</div></td>
            <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
            <td><div>Temp </div> <div>2 &#8451;</div> </td>
            <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
            <td><div>Vent</div> <div>8 km/h</div> </td>
            <td> <div>Precip</div> <div>0 mm</div> </td>
         </tr>
         <tr>
            <td><div>samedi</div> <div>0 h</div></td>
            <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
            <td><div>Temp </div> <div>2 &#8451;</div> </td>
            <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
            <td><div>Vent</div> <div>8 km/h</div> </td>
            <td> <div>Precip</div> <div>0 mm</div> </td>
         </tr>
         <tr>
            <td><div>samedi</div> <div>0 h</div></td>
            <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
            <td><div>Temp </div> <div>2 &#8451;</div> </td>
            <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
            <td><div>Vent</div> <div>8 km/h</div> </td>
            <td> <div>Precip</div> <div>0 mm</div> </td>
         </tr>
         <tr>
            <td><div>samedi</div> <div>0 h</div></td>
            <td class="icon"><fa-icon [icon]="faCloud"></fa-icon></td> 
            <td><div>Temp </div> <div>2 &#8451;</div> </td>
            <td><div> Ressentie</div> <div>-2 &#8451;</div> </td>
            <td><div>Vent</div> <div>8 km/h</div> </td>
            <td> <div>Precip</div> <div>0 mm</div> </td>
         </tr>
    </tbody>
</table> -->
