<div class="card mat-elevation-z4">
<div class="day" *ngIf="index == 0">Aujourd'hui</div>
<div class="day" *ngIf="index == 1">Demain</div>
<div class="day" *ngIf="index != 0 && index != 1">{{day}}</div>
<div class="icon"><fa-icon [icon]="iconName"></fa-icon></div> 
<div class="max-temp">{{dailyWeather.maxTemp}} &#8451;</div>
<div class="min-temp">{{dailyWeather.minTemp}} &#8451;</div> 
</div>

<!-- <div class="card mat-elevation-z4">
   <div class="day">Samedi</div> 
  <div class="icon"><fa-icon [icon]="faCloud"></fa-icon></div> 
<div class="max-temp">17 &#8451;</div>
<div class="min-temp">17 &#8451;</div> 

</div> -->