<div class="current-weather" *ngIf="isInit">
  Rennes 
  <span><fa-icon [icon]="iconName"></fa-icon></span>
  <span>{{currentWeather['currentTemp']}} &#8451; </span> 
</div>

<div class="days">
  <app-day
  *ngFor="let dailyWeather of dailyWeathers; let index=index"
  [dailyWeather]="dailyWeather"
  (click)="selectDay(dailyWeather.day)" [index]="index">
</app-day>
</div>
<br><br>
<app-hours  [selectedHourlyWeather]="selectedHourlyWeather" ></app-hours>

<router-outlet></router-outlet>





<!-- 
<div class="days">
  <app-day>
</app-day>
<app-day>
</app-day>
<app-day>
</app-day>
<app-day>
</app-day>
<app-day>
</app-day>
<app-day>
</app-day>
<app-day>
</app-day>
</div>

<app-hours  [selectedHourlyWeather]="selectedHourlyWeather" ></app-hours>

<router-outlet></router-outlet> -->
